@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-image: linear-gradient(#473f6e, #65517c, #806188) ;
}

.container {
    background-image: url(../../media/desertdusk.png);
    box-shadow:0 0 40px rgb(45, 36, 56);
    background-size: cover;
    padding-top: 80px;
    border-radius: 30px;
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: -25px;
}

.register-form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.input{
    text-align: center;
    outline: none;
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;
    padding-right: 20px;
    font-weight: bold;
    color: white;
}

::placeholder {
    color: white;
}

.login {
    outline: none;
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
    top: 233%;
    left: 51%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, #210f49 10%, #623478 100%);
}

.register {
    outline: none;
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(135deg, #210f49 10%, #623478 100%);
    top: 172%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.register::after, .login::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    background-image: linear-gradient(135deg, #623478 10%, #210f49 100%);
    transition: opacity.6s ease-in-out;
}

.register:hover::after, .login:hover::after {
    opacity: 1;
}

.page-link {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 94%;
    margin-left: 26%;
    font-size: 12px;
    color: white;
}

a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
}

p{
    font-family: 'Quicksand', sans-serif;
    margin-top: -10px;
    margin-left: 0;
    text-align: center;
    position: fixed;
}