* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-image: linear-gradient(#473f6e, #65517c, #806188);
}

.container {
    background-color: white;
    box-shadow:0 0 40px rgb(45, 36, 56);
    padding-top: 80px;
    border-radius: 30px;
    width: 350px;
    height: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.logo {
    background-image: url(https://img.icons8.com/dusk/64/000000/fog-night.png);
    height: 84px;
    width: 87px;
    background-size: 90px;
    position: absolute;
    top: 18%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Quicksand', sans-serif;
    color: #6d567f;
    font-size: 35px;
    text-align: center;
    margin-top: -25px;
    margin-right: 210px;
    font-weight: bolder;
}
.user {
    font-family: 'Staatliches', cursive;
    color: #6d567f;
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
    margin-right: 189px;
    font-weight: bolder;
    text-transform: uppercase;
}

.row {
    margin-bottom: 10px;
    display: flex;
    margin-left: -15px;
}

.button{
    border: none;
    outline: 0;
    width: 120px;
    height: 120px;
    margin-left: 45px;
    margin-top: 50px;
    font-size: 20px;
    transition: .6s;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgba(142, 81, 94, 0.53);
}

.button:hover {
    transform: translate(0px, -10px) scale(1.2);
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 11px;
    margin-top: 70px;
}

#icon1{
    background-image: url(../../media/icons8-create-document-64.png);
    height: 67px;
    width: 66px;
    margin-left: 25px;
    position: fixed;
}

#icon2{
    background-image: url(../../media/icons8-help-64.png);
    height: 65px;
    width: 60px;
    margin-left: 25px;
    position: fixed;
}

#icon3{
    background-image: url(../../media/icons8-settings-64.png);
    height: 63px;
    width: 63px;
    margin-left: 25px;
    position: fixed;
}

#icon4{
    background-image: url(../../media/icons8-exit-64.png);
    height: 66px;
    width: 63px;
    margin-left: 25px;
    position: fixed;
}

a {
    text-decoration: none;
}


