* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-color: #6f6b80;
}
/*FORM, HEADER, TITLE------------------------------------------------------------------------------------------------------------*/
.form {
    box-shadow:0 0 40px rgb(49, 46, 64);
    background: #fff;
    border-radius: 6px;
    width: 320px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.header-image {
    border-radius: 4px 4px 0 0;
    background: url(../media/purple.jpg) no-repeat;
    background-size: cover;
    padding: 30px;
}
.title {
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 10px;
    text-align: center;
    letter-spacing: 5px;
}
.dateSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
    text-align: center;
    margin-left: 30px;
}
.day {
    font-size: 40px;
}
.center {
    padding-top: 3px;
    padding-left: 10px;
    font-size: 17px;
}
.time {
    margin-left: 75px;
    margin-bottom: 20px;
    font-size: 17px;
}

/*CONTENT SECTION------------------------------------------------------------------------------------------------------------*/
.icon{
    top:74px;
    left: 85px;
    width:10px;
    height:10px;
    z-index: 2;
    position: relative;
    color: #5e7d83;
}

.submit-button {
    font-size: 12px;
    position: relative;
    padding: 6px 15px 6px 30px;
    width: 55%;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Abril Fatface', cursive;
    border: 1.5px #5e7d83 solid;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

a:link, a:visited{
    color: #848484;
    text-decoration: none;
}

.submit-button:hover {
    border: 1.5px;
}

a:hover{
    color: white;
}

.submit-button:before {
    border-radius: 30px;
    content: "";
    position: absolute;
    background: #5e7d83;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.09s ease-in;
}

.submit-button:hover:before {
    right: 0;
}

