html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-image: linear-gradient(#473f6e, #65517c, #806188) ;
}
.container {
    background-image: url(../../media/desertdusk.png);
    box-shadow:0 0 40px rgb(45, 36, 56);
    background-size: cover;
    padding-top: 80px;
    border-radius: 30px;
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: -25px;
}

.buttons{
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bolder;
}

.login {
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    border-radius: 30px;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, #210f49 10%, #623478 100%);
}

.register {
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    border-radius: 30px;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, #210f49 10%, #623478 100%);
}

.login::after, .register::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    background-image: linear-gradient(135deg, #623478 10%, #210f49 100%);
    transition: opacity.6s ease-in-out;
}

.login:hover::after, .register:hover::after {
    opacity: 1;
}


