* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-image: linear-gradient(#473f6e, #65517c, #806188);
}

.container {
    background-color: white;
    box-shadow:0 0 40px rgb(45, 36, 56);
    padding-top: 80px;
    border-radius: 30px;
    width: 350px;
    height: 585px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.back {
    background-image: url(../../media/icons8-long-arrow-left-50-black.png);
    height: 40px;
    width: 40px;
    background-size: 40px;
    margin-left: 35px;
    margin-top: -60px;
    position: fixed;
    cursor: pointer;
}

.logo {
    background-image: url(https://img.icons8.com/dusk/64/000000/fog-night.png);
    height: 84px;
    width: 87px;
    background-size: 90px;
    position: absolute;
    top: 18%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.title {
    font-family: 'Quicksand', sans-serif;
    color: #6d567f;
    font-size: 35px;
    text-align: center;
    margin-top: -25px;
    margin-right: 210px;
    font-weight: bolder;
}
.user {
    font-family: 'Staatliches', cursive;
    color: #6d567f;
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
    margin-right: 189px;
    font-weight: bolder;
    text-transform: uppercase;
}

.content-section{
    background-color: rgba(133, 100, 138, 0.66);
    height: 60%;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 33px;
}

.toggle-buttons{
    margin-left: 22px;
    display: inline;
}

.toggle-btn {
    cursor: pointer;
    outline: none;
    padding: 0 14px;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    color: #6d567f;
    width: 170px;
    background-color: transparent;
    border:none;
}

#btn {
    position: relative;
    width: 30px;
    top: 28px;
    left: 60px;
    border-bottom: 2px solid #cccccc;
    padding: 0 20px;
    transition: 0.3s;
}

.username-form, .password-form {
    color: white;
    position: absolute;
    width: 280px;
    margin-left: 25px;
}

.input {
    text-align: center;
    outline: none;
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

::placeholder {
    color: white;
    font-size: 13px;
}

#password {
    left: 50px;
    bottom: 130px;
}

#username {
    left: 400px;
    bottom: 130px;
}

.submit-button {
    outline: none;
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(135deg, #210f49 10%, #623478 100%);
    top: 120%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.submit-button::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    background-image: linear-gradient(135deg, #623478 10%, #210f49 100%);
    transition: opacity.6s ease-in-out;
}

.submit-button:hover::after {
    opacity: 1;
}

p{
    font-family: 'Quicksand', sans-serif;
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
}
