* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-color: #6f6b80;
}
/*FORM, HEADER, TITLE------------------------------------------------------------------------------------------------------------*/
.form {
    box-shadow:0 0 40px rgb(49, 46, 64);
    background: #fff;
    border-radius: 6px;
    width: 320px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.header-image {
    background: url(../media/purple.jpg) no-repeat;
    background-size: cover;
    padding: 20px;
}

.toggle-buttons {
    width: 220px;
    margin-left: 35px;
    margin-top: -10px;
}

.toggle-btn{
    padding: 10px 24px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    color: white;
}

#btn {
    position: relative;
    width: 30px;
    top: 40px;
    border-bottom: 3px solid white;
    padding: 10px 50px;
    transition: 0.3s;
}

.login-form, .register-form{
    top: 170px;
    position: absolute;
    width: 280px;
    margin-left: -25px;
}
.input{
    width: auto;
    border-radius: 50px;
    border: 1px solid #6f6b80;
    font-size: 16px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    padding: 6px 25px 6px 45px;
}

.icon{
    position: relative;
    bottom:0;
    left: 30px;
    width:10px;
    height:10px;
}

.login-form .submit-button{
    font-size: 16px;
    padding: 6px 40px 6px 45px;
    position: relative;
    width: 50%;
    cursor: pointer;
    display: block;
    margin-top: 60px;
    margin-left: 60px;
    color: #848484;
    font-family: 'Abril Fatface', cursive;
    border: 1.5px #5e7d83 solid;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
.register-form .submit-button{
    font-size: 16px;
    padding: 6px 40px 6px 30px;
    position: relative;
    width: 50%;
    cursor: pointer;
    display: block;
    margin-top: 60px;
    margin-left: 60px;
    color: #848484;
    font-family: 'Abril Fatface', cursive;
    border: 1.5px #5e7d83 solid;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.submit-button:hover {
    color: white;
    border: 1.5px;
}

.submit-button:before {
    border-radius: 30px;
    content: "";
    position: absolute;
    background: #5e7d83;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.09s ease-in;
}

.submit-button:hover:before {
    right: 0;
}

#register {
    left: 50px;
}

#login {
    left: 450px;
}

/*ERROR MESSAGE------------------------------------------------------------------------------------------------------------*/
p{
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
    margin-left: 25px;
}